.card {
    height: 550px;
    width: 500px;
    margin-left: 10%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    position: relative; /* Add this to position the icon container absolutely within the card */
    overflow: hidden;
}

.card-link {
    display: block;
    width: 100%;
    height: 100%;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon-container {
    position: absolute;
    top: 10px;
    right: 15px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card:hover .icon-container {
    opacity: 1;
}

.icon {
    font-size: 30px;
    color: black;
}
